main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("https://images.wallpaperscraft.com/image/single/sun_sunset_sky_115688_2560x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #F7BD67;
    height: 50px;
    font-family: 'Balsamiq Sans';
}


.myHeader {
    background-color: #F7BD67;
    font-family: 'Balsamiq Sans';
    font-size: 32px;
}

.logo {
    margin-right: 10px;
}

.favorite {
    width: 50px;
    height: 50px;
}

.favoriteSmall {
    width: 35px;
    height: 35px;
}



.centerVertical {
    display: flex;
    align-items: center;
}

.lessWhite {
    color: #c3c3c3;
}

.weatherCards {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}